* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }

 header {
    display: flex;
    align-items: center;
    background-color:#9a7252e7;
    padding: 24px;
 }


 .logo {
    width: 8%;
    margin-right: 90px;
 }

 .navbar {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-grow: 1;  
 }

 .nlinks {
    display: flex;
    gap: 90px;
}

 .nlinks a {
    color:rgba(255, 255, 255, 0.829);
    font-size: 25px;
    font-weight: 500;
    text-decoration: none; 
    transition: background-color 0.3s;
 }

 .nlinks a:hover {
       color: rgb(255, 255, 255);
   }

   body > .ac {
    background-color: #b48c6bb4;
    color:rgba(255, 255, 255, 0.781);
    font-size: 18px;
    line-height: 1.5;
 }

 body > .ac > .t2 {
    background-color: #9a7252cd;
    color:rgba(255, 255, 255, 0.829);
    font-size: 30px;
    display:flex;
    justify-content:center;
    border-radius: 0px 16px 0 16px;
    margin: 0 300px 0 300px;
    padding: 16px;
 }

 body > .ac > .mdn {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: justify;
    padding: 50px;
 }

 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#9a7252e7;
    padding: 24px;
 }

 .navb {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-grow: 1;  
 }

 .nls {
    display: flex;
    gap: 50px;
 }

 .nls a{
   color:rgba(255, 255, 255, 0.829);
   font-size: 18px;
   text-decoration: none; 
   transition: background-color 0.3s;
 }

.nls a:hover {
      color: rgb(255, 255, 255);
  }

  footer h5 {
   margin-top: 25px; 
   color: rgba(255, 255, 255, 0.829);
   font-size: 14px;
   font-weight: normal;
   font-family: inherit;
 }
 

/* Estilos para telas menores que 1288px */
@media screen and (max-width: 1288px) {
   .logo {
       width: 15%;
       margin: 0 20px 0 0;
   }

   .nlinks {
       flex-direction: row;
       gap: 16px;
       align-items: center;
   }

   .nlinks a {
       font-size: 25px;
   }

   body > .ac > .t2 {
       margin: 0 16px;
       font-size: 32px;
   }

   body > .ac > .mdn {
       padding: 20px;
       font-size: 28px;
   }

   .center-left {
       max-width: 100%;
       padding: 0 16px;
   }

   footer {
       padding: 16px;
   }

   .nls {
       flex-direction: row;
       gap: 16px;
       align-items: center;
   }

   .nls a {
       font-size: 25px;
   }

   footer h5 {
       font-size: 18px;
   }
}

/* Estilos para telas menores que 1000px */
@media screen and (max-width: 1000px) {
   .logo {
       width: 15%;
       margin: 0 16px 0 0;
   }

   .nlinks {
       flex-direction: row;
       gap: 16px;
       align-items: center;
   }

   .nlinks a {
       font-size: 22px;
   }

   body > .ac > .t2 {
       margin: 0 16px;
       font-size: 28px;
   }

   body > .ac > .mdn {
       padding: 16px;
       font-size: 26px;
   }

   .center-left {
       max-width: 100%;
       padding: 0 16px;
   }

   footer {
       padding: 16px;
   }

   .nls {
       flex-direction: row;
       gap: 16px;
       align-items: center;
   }

   .nls a {
       font-size: 22px;
   }

   footer h5 {
       font-size: 16px;
   }
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        background-color:#9a7252e7;
        padding: 20px;
     }

  .logo {
    width: 35%;
    margin: 0 46px 0 0;
  }

  .nlinks {
    flex-direction: column;
    gap: 10px;
    align-items:start;
  }

  .nlinks a {
    font-size: 18px;
}

body > .ac > .t2 {
    margin: 0 16px 0 16px;
    font-size: 25px;
}

body > .ac > .mdn {
    padding: 32px;
    font-size: 18px;
}

.center-left {
    max-width: 100%;
    padding: 0 16px;
}

footer {
    padding: 16px;
}

.nls {
    flex-direction:row;
    gap: 12px;
    align-items: center;
}

.nls a {
    font-size: 13px;
}

footer h5 {
    font-size: 12px;
}

}